<div class="container" class="text-white p-2">
    <img class="w-100 img-fluid" src={{currentStarship.image}} alt="starship image">
    <h1 class="py-2" >{{currentStarship.name}}</h1>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            <div class="heading">Model</div> {{currentStarship.model}}
        </div>
        <div class="col-6">
            Manufacturer {{currentStarship.manufacturer}}
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            Cost in credits: {{currentStarship.cost_in_credits}}
        </div>
        <div class="col-6">
            Length: {{currentStarship.length}} m
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            Max Atmosphering Speed: {{currentStarship.max_atmosphering_speed}}
        </div>
        <div class="col-6">
            Crew: {{currentStarship.crew}} 
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            Passengers: {{currentStarship.passengers}}
        </div>
        <div class="col-6">
            Cargo Capacity: {{currentStarship.cargo_capacity}} 
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            Consumables: {{currentStarship.consumables}}
        </div>
        <div class="col-6">
            Hyperdrive Rating: {{currentStarship.hyperdrive_rating}} 
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
            MGLT: {{currentStarship.MGLT}}
        </div>
        <div class="col-6">
            Starship Class: {{currentStarship.starship_class}} 
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <ngx-spinner
        bdColor="rgba(0, 0, 0, 0.8)"
        size="medium"
        color = "#fff"
        type = "ball-beat"
        [fullScreen]="false"> <p style="color: white">Loading...</p>
        </ngx-spinner>
            <h4>Pilots</h4>
            <div class="d-flex flex-row col-12 col-sm-6 col-lg-3" *ngFor="let pilot of pilots; let i = index">
                <app-pilot-card [pilot]="pilot"></app-pilot-card>
            </div>
      
    </div>
  
</div>
