
<nav class="sticky-top">
      <div class="bg-dark">
        <div class="row p-2">
            <div class="col-4"></div>
            <div class="col-4">
                <img id="logo" class="mx-auto d-block" src="../assets/starwars-logo.png" alt="">
            </div>
            <div class="col-4 d-flex">
                <a class="navbar-brand text-white ms-auto" href="#">LOG IN</a>
                <a class="navbar-brand text-white" href="#">SIGN UP</a>
            </div>
        </div>

        <div class="row ">
            <nav class="navbar navbar-dark" style="background-color: #000000;">
                <div class="main-nav container-fluid">
                    <div class="col-4"></div>
                    <div class="col-2 text-center nav-buttons p-2">
                        <a class="navbar-brand text-white-50"
                        (click)="router.navigate(['/'])"
                        >HOME</a>
                    </div>
                    <div class="col-2 text-center nav-buttons p-2">
                        <a class="navbar-brand text-white-50" (click)="router.navigate(['starships/'])" 
                      
                        >STARSHIPS
                        <span class="horizontal-bar"></span>
                    </a>
                    </div>
                    <div class="col-4"></div>
                </div>
              </nav>
        </div>
      </div>
  </nav>