#logo {
    margin: auto;
}

.main-nav {
    color: #aaa;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.nav-buttons {
    border-right: 1px solid #343434;
    position:relative; 
    
}

.nav-buttons:nth-child(2) {
    border-left: 1px solid #343434;
}

.horizontal-bar {
    position: absolute;
    display: inline-block;
width: 33%;
border-top: 1px solid #fff;
box-shadow: 0 0 6px 2px;
top: 80%;
left: 30%;
color: #edec51;
}

a {
    cursor: pointer; 
}

.navbar-brand:hover {
    color: red;
}


