
<a id="open-modal" href="#" [hidden]="true"
                data-bs-toggle="modal" data-bs-target="#loginpasswordModal"
                >LOG IN</a>

<a id="initiate-modal" href="#" [hidden]="true"
                data-bs-toggle="modal" data-bs-target="#loginModal"
                >LOG IN</a>                

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content text-white-50 p-5">
        <div class="modal-header d-flex flex-column">
            <img class="w-75 img-fluid" src="../../assets/login-label.png" alt="">
          <h5 class="modal-title text-center" id="exampleModalLabel">ENTER YOUR EMAIL ADDRESS</h5>
          <button type="button" class="btn-close x-button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="signinForm"
        (ngSubmit)="send(signinForm.value);"
        >
        <input 
        type="email" 
        class="form-control my-4" 
        id="exampleInputEmail1" 
        aria-describedby="emailHelp"
        placeholder="Email address"
        formControlName="email"
        required
        >
        <small style="color:red" *ngIf="email && email.invalid && email.touched">Please enter a valid email address.</small>
          <button 
          type="submit" 
          class="btn btn-primary w-100"
          >Continue</button>
          <p>{{message}}</p>
          <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
   class="btn btn-default"                          
   data-bs-dismiss="modal">Close</button>

        </form>
      </div>
    </div>
  </div>

  <app-signin-password-modal [currentUser]="currentUser"></app-signin-password-modal>