
<a href="" class="link-secondary text-decoration-none">
  <div *ngFor="let starship of starships; let i = index">
      <div class="card w-100 mt-3" style="width: 18rem;">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">{{starship.name}}</h5>
            <p class="card-text">{{starship.model}}</p>
          </div>
        </div>
  </div>
</a>

<button type="button" (click)="getNextStarShips()" class="btn btn-outline-secondary">Get Next Ships</button>