.card {
    background-image: url(../../assets/bg-hash.png);
background-size: 7px;
background-repeat: repeat-x;
background-position: top left;
height: 200px;
}

.decal {
    display: block;
    position: absolute;
    width: 47px;
    height: 47px;
    opacity: 0.06;
    z-index: 1;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
    background-size: 300% 200%;
    right: 55%;
    bottom: -12px;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    }

    .card-title:hover {
        color:#edec51 !important;
        cursor: pointer;
        transition: color 1s;
    }
    
    .image-box {
     
        //background: radial-gradient(circle, rgba(227,203,242,1) 0%, rgba(237,236,81,1) 100%);
         background-color:rgba(237,236,81,.50);
        //background-image: url(../../assets/0.png);
        background-size:     65%;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center; 
        border-left: solid 1px;
        border-color: #edec51;
        height: 200px;
        cursor: pointer;
    }

    .image-box:hover {
        background-color:rgba(237,236,81,.90);
    }

    /*
    .background-gradient {
        background: rgb(46,46,41);
        background: radial-gradient(circle, rgba(46,46,41,0.7) 0%, rgba(40,39,39,1) 43%);
        position: absolute;
        z-index:0;
        right: 25%;
        top: 35%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    */