
<ngx-spinner
bdColor="rgba(0, 0, 0, 0.8)"
size="medium"
color = "#fff"
type = "ball-beat"
[fullScreen]="true"> <p style="color: white">Loading...</p>
</ngx-spinner>
 
 <div class="mx-5" *ngFor="let starship of starships; let i = index">
    <a (click)="navigateToStarship(i)"
    
    class="link-secondary text-decoration-none">
      <div class="card w-100 mt-3 bg-secondary" style="width: 18rem;">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="d-flex">
            <div class="card-body w-50">
              <h5 class="card-title text-white">{{starship.name}}</h5>
              <p class="card-text text-white-50">{{starship.model}}</p>
              <div class="decal"></div>
            </div>
            <div 
            class="w-50 image-box"
            [style.backgroundImage]="'url(../../assets/'+ i + '.png)'"
            ></div>
          </div>
        </div>
      </a>
  </div>


<button type="button" (click)="getNextStarShips()" class="btn btn-outline-secondary">Get Next Ships</button>