<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content text-white-50 p-5">
        <div class="modal-header d-flex flex-column">
            <img class="w-75 img-fluid" src="../../assets/login-label.png" alt="">
          <h5 class="modal-title text-center" id="exampleModalLabel">CREATE YOUR ACCOUNT</h5>
          <button type="button" class="btn-close x-button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <form [formGroup]="signupForm"
        (ngSubmit)="send(signupForm.value)"
        >
        <div class="my-3">
            <input 
            type="text" 
            class="form-control" 
            id="validationServer01" 
            placeholder="First Name" 
            formControlName="firstName"
            required>
            <small style="color:red" *ngIf="firstName && firstName.invalid && firstName.touched">Please enter a valid first name.</small>
        </div>
        <div class="my-3">
        <input 
        type="text" 
        class="form-control" 
        id="validationServer01" 
        placeholder="Last Name" 
        formControlName="lastName"
        required>
        <small style="color:red" *ngIf="lastName && lastName.invalid && lastName.touched">Please enter a valid last name.</small>
        </div>
        <div class="my-3">
            <input 
            type="email" 
            class="form-control" 
            id="InputEmail1" 
            aria-describedby="emailHelp"
            placeholder="Email address"
            formControlName="email"
            value=""
            required
            >
            <small style="color:red" *ngIf="email && email.invalid && email.touched">Please enter a valid email address.</small>
           
        </div>
        <div class="my-3">
            <input 
            [type]="changetype? 'password' : 'text'" 
            class="form-control" 
            id="validationServer01" 
            placeholder="Password" 
            formControlName="password"
            required>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
            <small style="color:red" *ngIf="password && password.invalid && password.touched">The password is too short</small>
        </div>
        <div class="form-check">
            <input 
            class="form-check-input" 
            (click)="viewPassword()"
            type="checkbox" 
            value="" 
            id="flexCheckDefault"
            formControlName="showPassword"
            >
            <label class="form-check-label checkbox-text" for="flexCheckDefault">
             Show Password
            </label>
          </div>
          <div class="form-check">
            <input 
            class="form-check-input" 
            type="checkbox" 
            value="" 
            id="flexCheckChecked" 
            formControlName="getNewsletter"
            >
            <label class="form-check-label checkbox-text mb-2" for="flexCheckChecked">
                Yes! I would like to receive by email special offers and updates about Lucasfilm Ltd. and other products and services from <a href="" class="a-underline">The Walt Disney Family of Companies.</a>
            </label>
          </div>
          <p class="legal-text">By creating an account, you agree to our <a href="" class="a-underline">Terms of Use</a>, and acknowledge that you have read our Privacy Policy, Cookies Policy and UK & EU Privacy Rights. More...</p>
          <button type="submit" class="btn btn-primary w-100">Create Account</button>
        </form>
         <p>already have an account? <a href=""
            data-bs-target="#loginModal"
            data-bs-toggle="modal"
            class="a-underline"
            >sign in</a></p>

            <button (click)="deleteLocalStorage()" id="submitAndClose">DELETE LOCAL STORAGE </button>
      </div>
    </div>
  </div>
