
<div class="modal fade" id="loginpasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (open)="onOpen($event)">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content text-white-50 p-5">
        <div class="modal-header d-flex flex-column">
            <img class="w-75 img-fluid" src="../../assets/login-label.png" alt="">
          <h5 class="modal-title text-center" id="exampleModalLabel">ENTER YOUR PASSWORD</h5>
          <p class="text-white">{{message}}</p>
          <button type="button" class="btn-close x-button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="signinpasswordForm"
        (ngSubmit)="send(signinpasswordForm.value);"
        >
        <input 
        type="password" 
        class="form-control my-4" 
        id="exampleInputPassword" 
        aria-describedby="passwordHelp"
        placeholder="Password"
        formControlName="password"
        required
        >
        <small style="color:red" *ngIf="password && password.invalid && password.touched">Please enter a valid password.</small>
          <button 
          type="submit" 
          class="btn btn-primary w-100"
          >Sign In</button>
          <button id="closepasswordModalButton" [hidden]="true" data-toggle="modal"        
   class="btn btn-default"                          
   data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
