.modal-title {
    color: #edd700;
    letter-spacing: 0.06em;
}

.modal-header {
    border-bottom: none;
}

.x-button {
    position: absolute;
    right:0;
    top:0;
    font-size:2rem;
}

.x-button:hover {
    color:white;
}

.modal-content {
    background-color: #181818;
    max-width: 540px;
}

input:focus {
    background: #343434;
    border: 1px solid #edd700;
color: rgb(205, 149, 29);
}